@model GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Response @Model.Name</title>
</head>

<body>
    <p>@Model.Name</p>
    <p>@Model.Phone</p>
    <p>@Model.Email</p>
</body>
</html>