<div class="text-center m-2">
    We're going to have an exciting party.<br />
</div>
<a class="btn btn-primary" asp-controller="home" asp-action="RsvpForm">RSVP Now</a>
<a class="btn btn-seconday" asp-action="ListResponses">View responses (old)</a>
<a class="btn btn-seconday" asp-controller="Guest" asp-action="List">View responses</a>
