@model GuestResponse

<table>
    <thead>
        <tr><th>Name</th><th>Email</th><th>Phone</th></tr>
    </thead>
    <tbody>
        <partial name="_RowPartial" model="Model"/>
    </tbody>
</table>
@*<a asp-action="Edit"*@